* {
  box-sizing: border-box;
  font-family: 'Fira Sans';
  -webkit-appearance: none
}
:root {
  --zinc-50: #fafafa;
  --zinc-100: #f4f4f5;
  --zinc-200: #e4e4e7;
  --zinc-300: #d4d4d8;
  --zinc-400: #a1a1aa;
  --zinc-500: #71717a;
  --zinc-600: #52525b;
  --zinc-700: #3f3f46;
  --zinc-800: #27272a;
  --zinc-900: #18181b;

}

html {
  background: rgb(28,25,23);
  background: linear-gradient(180deg, #171717 0%, #262626 100%);
  height: 100%;
}

body {
  color: var(--zinc-200);
  text-align: center;

}

.header { 
  color: var(--zinc-300);
  font-size: 4rem;
}
.box-center {
  width: 60%;
  margin-inline: auto;
}


.box-bin{
  padding: 2rem 8px 16px;

  display:flex;
  flex-flow: row nowrap;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  padding: 1rem;
  width: 100%;

  background-color: var(--zinc-800);
  border: 2px solid var(--zinc-900);
  border-radius: 10px;
}

.box-bin input {
  background-color: var(--zinc-800);
  color: var(--zinc-100);
  border: none;
  outline: none;
  position: relative;
  font-size: 28px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0px 5px 0px 0px;
  width: 100%;
  -webkit-appearance: none;
}

.box-bin span {
  font-size: 20px;
}

.icon {
  font-size: 32px;
  color: var(--zinc-400);
  background-color: var(--zinc-900);
  border-radius: 12px;
  height: 32px;
  width: 32px;
  position: relative;
  margin-top: -14px;
  margin-bottom: -14px;
  left: calc(50% - 16px);
}

.box-dec{
  padding: 2rem 8px 16px;

  display:flex;
  flex-flow: row nowrap;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  padding: 1rem;
  width: 100%;

  background-color: var(--zinc-800);
  border: 2px solid var(--zinc-900);
  border-radius: 10px;
}
.box-dec #decimal {
  color: var(--zinc-100);
  font-size: 28px;
  opacity: 0.4;
}

.box-dec span {
  font-size: 20px;
}

.btn{
  margin-top: 5px;
  padding: 16px;
  width: 100%;
  text-align: center;
  justify-content: center;

  display:flex;
  padding: 1rem;
  width: 100%;

  background-color: var(--zinc-600);
  border: 2px solid var(--zinc-900);
  border-radius: 20px;
  color: var(--zinc-100);
}
.btn:hover {
  background-color: var(--zinc-400);
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button{
  -webkit-appearance: none;
}
